<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/header'); -%>

    <body>

        <%- include('./layouts/navbar'); -%>
        <header class="masthead" style="padding: 40px;">
            

        <%- include('./layouts/scripts'); -%>
    </body>

</html>