<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/header'); -%>

    <body>

        <%- include('./layouts/navbar'); -%>
            <!-- Page Header-->
            <header class="masthead">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>G2 Test</h1>
                                <span class="subheading">Book G2 Drive Test Here</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content-->
            <main class="mb-4">

                <div class="container g2form-container">

                    <form>
                        <p>Fill Personal Information</p>
                        <div class="form-group">
                            <label for="firstname">FirstName</label>
                            <input type="text" class="form-control" id="firstname" placeholder="First Name">
                        </div>
                        <div class="form-group">
                            <label for="lastname">LastName</label>
                            <input type="text" class="form-control" id="lastname" placeholder="Last Name">
                        </div>

                        <div class="form-group">
                            <label for="licNumber">License Number</label>
                            <input type="text" class="form-control" id="licNumber" placeholder="License Number">
                        </div>

                        <div class="form-group">
                            <label for="age">Age</label>
                            <input type="number" class="form-control" id="age" placeholder="Age">
                        </div>

                        <p>Car Details</p>
                        <div class="form-group">
                            <label for="make">Make</label>
                            <input type="text" class="form-control" id="make" placeholder="Tesla">
                        </div>
                        <div class="form-group">
                            <label for="car-make">Model</label>
                            <input type="text" class="form-control" id="car-make" placeholder="Model X">
                        </div>

                        <div class="form-group">
                            <label for="car-model">Year</label>
                            <input type="text" class="form-control" id="car-model" placeholder="2020">
                        </div>
                        <div class="form-group">
                            <label for="car-number">Plate Number</label>
                            <input type="car-number" class="form-control" id="car-year" placeholder="XYZ">
                        </div>

                        <button type="submit" class="btn btn-primary" id="g2-send">Send</button>
                    </form>

                </div>

            </main>

            <%- include('./layouts/scripts'); -%>
    </body>

</html>