<!DOCTYPE html>
<html lang="en">
<%- include('./layouts/header'); -%>

    <body>

        <%- include('./layouts/navbar'); -%>
            <!-- Page Header-->
            <header class="masthead">
                <div class="container position-relative px-4 px-lg-5">
                    <div class="row gx-4 gx-lg-5 justify-content-center">
                        <div class="col-md-10 col-lg-8 col-xl-7">
                            <div class="page-heading">
                                <h1>G Test</h1>
                                <span class="subheading">Book G Drive Test</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- Main Content-->
            <main class="mb-4">
                <div class="container g2form-container">

                    <form>
                        <h3>Lisence Number</h3>
                        <div class="input-group input-group-lg">
                            <input type="text" class="form-control" aria-label="Large"
                                aria-describedby="inputGroup-sizing-sm" id="lisence-number">
                            <div class="input-group-prepend">
                                <a href="#" class="input-group-text bg-primary">Submit</a>
                            </div>
                        </div>
                    </form>

                </div>

            </main>


            <%- include('./layouts/scripts'); -%>

    </body>

</html>